@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.oswaldDB {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.NavBar {
  background-color: #333;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  margin-right: 20px;
  img {
    width: 40px;
    height: 40px;
  }
}

.NavLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  li {
    margin-right: 20px;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover {
      color: #ccc;
    }
  }
}

.DropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  border: 1px solid #444;
  display: none;
  li {
    margin-bottom: 10px;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #ccc;
    }
  }
}

.DropdownToggle {
  cursor: pointer;
  &:hover + .DropdownMenu {
    display: block;
  }
}

.shadow {
  will-change: filter;
  transition: filter 300ms;
  :hover {
    filter: drop-shadow(0 0 2em #00674fc8);
  }
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;

  &-track {
    display: flex;
    transition: transform 0.3s ease;

    .slider-slide {
      flex: none;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

/* Sidebar.css */
.sidebar {
  z-index: 101;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transition: right 0.3s ease-in-out;
}

.sidebar.closed {
  right: -250px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.sidebar .NavLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.sidebar .NavLinks .NavLink {
  margin-bottom: 10px;
}

.sidebar .NavLinks .NavLink a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.sidebar .NavLinks .NavLink a:hover {
  color: #ccc;

  /* Sidebar.css */

  .HamburgerButton span {
    background-color: #333;
  }

  .HamburgerButton span:nth-child(2) {
    width: 15px;
  }

  .HamburgerButton span:nth-child(3) {
    width: 10px;
  }
}
/*Image Slider Dots*/
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
